<div class="c-overview{{#if class}} c-overview--{{class}}{{/if}}">
  <h2 class="c-overview__heading">{{#if title-link}}<a class="c-overview__heading-link" href="{{title-link}}">{{/if}}{{title}}{{#if title-link}}</a>{{/if}}</h2>
  <div class="c-overview__text">{{{text}}}</div>
  <a class="c-overview__link" href="{{button.link}}">{{button.text}}</a>
</div>
